body{
    font-family: Verdana, Helvetica, sans-serif; 
    margin:0;
    padding: 0;
    background-color: rgb(243, 206, 165);
    
}
nav > a{
    color:rgb(233, 211, 253);
}
/*Barra de  navegacion de todas las paginas*/
#nav-var{
    background-color: rgba(10, 10, 10, 0.993); 
    text-align: center; 
    position: fixed;
    font-weight: bold;
    width: 100%; 
    padding: 15px 10px;
}
/*estilo seccion usuarios en nav*/
#usuarios{
    
    font-size: 0.65em;
}
/*estilo del titulo*/
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
    color: rgba(138, 79, 56, 0.95);
}
/*pie de paginas de toda la web*/
footer{
    font-weight: bold;
    background-color:rgba(3, 3, 3, 0.993);
    color: white;
    text-align:center;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30;
    position: fixed;
    margin-top: 0px;
    padding: 5px;
}

.fa-instagram-square{
    color:rgb(155, 48, 197);
    font-size: 1.5vw;
}

/*.fa-instagram{
    color:rgb(155, 48, 197);
}*/

.fa-facebook{
    color: rgb(49, 49, 136);
    font-size: 1.5vw;
}
/*imagen y texto pagina principal*/
#img-portada{
   text-align: center;
   height: 100%;
   border-top: 10px; 
   margin: auto;
   padding: 1px 0px;
}
div{
    margin: 0px;
    text-align: center;
}
/*imagen nosotros*/
#img-nosotros{
    height: 55%;
    width: 35%;
    margin: 15px 40px;
    opacity: 0.9;
    align-self: baseline;
}
.nosotros-texto{
    text-align: center;
    width: 75%;
    margin: auto;
}


/*estilos de las tablas de galeria*/
table{
    align-items: center;
    width: 90%;
}
td{
    size: 50%;
    margin: 15px 30px;
    padding: 20px 15px;
}
ul {
    align-items: justify;
    list-style-type: disc;
}
td > img{
    width: 100%;
    
}

/*estilos pagina establecimientos*/
.mapita{
    text-align: left;
    margin: 0.1em 0.5em; 
    padding: 0.5em 0.5em;
}
iframe{
    width:600px;
    height: 400px;
    border:0;
}
/*icono mail*/
.fa-at{
    color: rgb(101, 24, 243);
    font-size: 1.5vw;
}
/*icono whatsapp*/
.fa-whatsapp-square{
    
    color: rgb(59, 146, 59);
    font-size: 1.5vw;
}
/*contacto telef y mail*/
.fa-map-marked-alt{
    color:rgb(24, 23, 23);
    font-size: 1.5vw;
}

/*estilos del formulario*/
form{
    width: 60%;
    margin: 1% 20%;
    height: auto;
    text-align: left;
    font-size: 0.95vw;
       
}

#consulta{
    width: 60%;
    height: 5em;
}


/*fieldset de contacto*/
fieldset{
    width: 100%; 
    background-color: rgb(248, 238, 213);
    box-sizing: border-box;
    
}
legend{
    font-weight: bold;
}
.buttons{
    padding: 0.5em;
    border: 0.5em double rgb(49, 49, 136);
    position: relative;
    width: inherit;
    height: inherit;
}
label{
    width: 10%;
    display: inline-block;
}
input{
    margin: 0.3em 0.2em ;
    height: 1.3vw;
    
    
}