body{
    font-family: Verdana, Helvetica, sans-serif; 
    margin:0;
    padding: 0;
    background-color: rgba(211, 175, 255, 0.66);
}
/*Barra de  navegacion de todas las paginas*/
#nav-var{
    background-color: rgba(184, 137, 247, 0.993); 
    text-align: center; 
    position: fixed;
    font-weight: bold;
    width: 100%; 
    padding: 15px 10px;
}
/*estilo del titulo*/
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4em;
    color: rgba(161, 111, 241, 0.95);
}
/*pie de paginas de toda la web*/
footer{
    font-weight: bold;
    background-color:rgba(184, 137, 247, 0.993);
    text-align:center;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 30;
    position: fixed;
    margin-top: 0px;
    padding: 5px;
}

.fa-instagram-square{
    color:rgb(155, 48, 197);
    font-size: 1.5vw;
}

/*.fa-instagram{
    color:rgb(155, 48, 197);
}*/

.fa-facebook{
    color: rgb(49, 49, 136);
    font-size: 1.5vw;
}
/*imagen y texto pagina principal*/
#img-portada{
   text-align: center;
   height: 100%;
   border-top: 10px; 
   margin: auto;
   padding: 1px 0px;
}
div{
    margin: 0px;
    text-align: center;
}
/*imagen nosotros*/
#img-nosotros{
    height: 55%;
    width: 35%;
    margin: 15px 40px;
    opacity: 0.9;
    align-self: baseline;
}
.nosotros-texto{
    text-align: center;
    width: 75%;
    margin: auto;
}


/*estilos de las tablas de galeria*/
td{
    size: 50%;
    margin: 15px 30px;
    padding: 20px 15px;
}
ul {
    align-items: justify;
    list-style-type: disc;
}
td > img{
    width: 100%;
    
}
/*estilos del formulario*/
form{
    margin-left: 15em;
}

/*field set de contacto*/
fieldset{
    width: 70%; 
    background-color: rgb(233, 211, 253);
}
legend{
    font-weight: bold;
}
.buttons{
    width: 70%;
    text-align: center;
}

